<div id="header-wrapper">
	<a href="/" id="header-logo-link" >
		<img style="width:150px; height: auto;" src="../images/logos/Federal_Flange_Logo_RGB_white_red.png" alt="">
	</a>

	<span id="ham-menu">
		<span class="ham-line"></span>
		<span class="ham-line"></span>
		<span class="ham-line"></span>
	</span>

	<nav id="header-page-links">
		<a href="/about">About</a>
		<a href="/products">Products</a>
		<a href="/certifications">Certifications</a>
		<a href="/request-for-quote">Request For Quote</a>
		<a href="/standards">Standards</a>
		<a href="/contact">Contact</a>
	</nav>
</div>