<aside>
	<div class="sidebar-wrapper">
		<h4>Other Products</h4>
		<a href="/products/ansi-flanges">ANSI Flanges</a>
		<a href="/products/api-flanges">API Flanges</a>
		<a href="/products/swivels-misalignments">Swivels & Misalignments</a>
		<a href="/products/long-weldneck-flanges-vessel-components">Long Weldneck Flanges & Vessel Components</a>
		<a href="/products/specialty-flanges-fittings">Specialty Flanges & Fittings</a>
		<a href="/products/custom-engineered-products">Custom-Engineered Products</a>
	</div>
</aside>