<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>About Us | Federal Flange</title>
	<% include ./partials/head.ejs %>
</head>

<% include ./partials/header-alt.ejs %>

<body id="about">
  <section id="about-hero">
    <div class="section-wrapper sm">
      <div class="col col-5">
        <div class="textbox">
          <h5 class="mini-header">Get to know us</h5>
          <h1>Federal Flange</h1>
          <h6>Leading the world in delivering fast-turnaround pipe flanges, fittings and custom-engineered connectors.</h6>
        </div>
      </div>
      <div class="col col-7">
        <div class="textbox">
          <p>Federal Flange was founded in 1975 in Houston, TX. What started out as a small machine shop has grown into a world class manufacturer of pipe flanges and connectors for the oil & gas, power generation and industrial markets. The Federal Flange brand is recognized worldwide and is widely approved by all the major operators in the oil & gas industry including ExxonMobil, Chevron, Shell, and BP. Federal Flange produces a large variety of industry standard flanges and fittings. We can also turnkey engineer and produce custom connections for all types of applications. In July of 2015, Federal Flange was acquired by Westbrook Manufacturing and is now operating as part of the Westbrook Energy Group.</p>
        </div>
      </div>

      <div class="col col-12">
        <span class="img-wrapper">
          <img src="../images/about/about-hero.jpg">
        </span>
      </div>
    </div>
  </section>

</body>

<% include ./partials/footer.ejs %>