<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Certifications | Federal Flange</title>
	<% include ./partials/head.ejs %>
</head>

<% include ./partials/header.ejs %>

<body id="certifications">
  <section class="hero hero-3" style="background-image: url(../images/certifications/certifications-hero.jpg)">
    <div class="section-wrapper">
      <div class="textbox light center">
        <h1>Certifications & Licenses</h1>
      </div>
    </div>
  </section>

  <section>
    <div class="section-wrapper">
      <div class="downloads-container">
        <article class="card download-card">
          <a class="pdf" href="../images/certifications/Federal Flange 6A-0514.pdf" target="_blank">API 6A-0514</a>
        </article>

        <!-- <article class="card download-card">
          <a class="pdf" href="../images/certifications/Federal Flange API 17D.pdf" target="_blank">API 17D-0157</a>
        </article> -->

        <article class="card download-card">
          <a class="pdf" href="../images/certifications/federal-flange-isoscope-2024.pdf" target="_blank">ISO 9001:2015</a>
        </article>
      </div>
    </div>
  </section>

</body>

<% include ./partials/footer.ejs %>