<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Federal Flange</title>
	<% include ./partials/head.ejs %>
</head>

<body class="home">
	<% include ./partials/header.ejs %>

	<section id="home-hero" class="hero">
		<div class="section-wrapper align-center center column">
			<div class="textbox light">
				<p class="sub-title">A<span> Westbrook Energy Group </span>Company</p>
				<h1>Federal Flange leads the world in delivering fast-turnaround pipe flanges, fittings and custom-engineered connectors.</h1>
			</div>

			<div class="textbox light">
				<p>TRUSTED BY INDUSTRY LEADERS</p>
				<div class="logo-wrapper">
					<img src="./images/logos/exxonmobil-logo.svg" alt="">
					<img src="./images/logos/conocophillips-logo.svg" alt="">
					<img src="./images/logos/bp-logo.svg" alt="">
					<img src="./images/logos/chevron-logo.svg" alt="">	
				</div>
			</div>
		</div>

		<span id="scrolldown">
			<hr id="top-line">
			<span id="ball-arrow"></span>
			<hr id="bottom-line">
		</span>
	</section>

	<section id="home-products">
		<div class="section-wrapper">
				<div class="product-block dark-opacity" style="background-image: url(../images/products/ansi-flanges/ansi-flanges-hero.jpg);">
					<div class="textbox center light">
						<h3 class="mini-header">ANSI Flanges</h3>
						<p>A Leading Manufacturer of ANSI Flanges Since 1975</p>
						<a href="/products/ansi-flanges" class="button white">VIEW PRODUCTS</a>
					</div>
				</div>

				<div class="product-block dark-opacity" style="background-image: url(../images/products/api-flanges/api-flanges-hero.jpg);">
					<div class="textbox center light">
						<h3 class="mini-header">API Flanges</h3>
            <p>Federal Flange Keeps a Full Line of API 6A Flanges in Stock</p>
						<a href="/products/api-flanges" class="button white">VIEW PRODUCTS</a>
					</div>
				</div>

				<div class="product-block dark-opacity" style="background-image: url(../images/products/swivels-misalignments/swivels-misalignments-hero.jpg);">
					<div class="textbox center light">
						<h3 class="mini-header">Swivels & Misalignments</h3>
            <p>Federal Flange Takes the Concern Out of a Misaligned Pipeline</p>
						<a href="/products/swivels-misalignments" class="button white">VIEW PRODUCTS</a>
					</div>
				</div>

				<div class="product-block dark-opacity" style="background-image: url(../images/products/long-weldneck-flanges-vessel-components/long-weldneck-flanges-vessel-components-hero.jpg);">
					<div class="textbox center light">
						<h3 class="mini-header">Long Weldneck Flanges & Vessel Components</h3>
            <p>Federal Flange Now Offers Domestically Manufactured LWN Flanges & Vessel Components</p>
						<a href="/products/long-weldneck-flanges-vessel-components" class="button white">VIEW PRODUCTS</a>
					</div>
				</div>

				<div class="product-block dark-opacity" style="background-image: url(../images/products/specialty-flanges-fittings/specialty-flanges-fittings-hero.jpg);">
					<div class="textbox center light">
						<h3 class="mini-header">Specialty Flanges & Fittings</h3>
            <p>The Industry Leader in Quick Turn Specialty Flanges & Fittings</p>
						<a href="/products/specialty-flanges-fittings" class="button white">VIEW PRODUCTS</a>
					</div>
				</div>

				<div class="product-block dark-opacity" style="background-image: url(../images/products/custom-engineered-products/custom-engineered-products-hero.jpg);">
					<div class="textbox center light">
						<h3 class="mini-header">Custom-Engineered Products</h3>
            <p>For Turn-key Engineered Products Federal Flange Can Help</p>
						<a href="/products/custom-engineered-products" class="button white">VIEW PRODUCTS</a>
					</div>
				</div>
		
		</div>
	</section>

	<section id="home-about">
		<div class="section-wrapper align-center">
			<div class="textbox left col col-5">
				<h2>Welcome to Federal Flange</h2>
				<p>From deepwater subsea connectors to standard specification flanges used in power generation, downstream oil & gas or manufacturing — our clients connect more than components. They connect with experts whose responsiveness and service ensure superior operational performance.</p>
				<a href="/about" class="button blue">MORE ABOUT FEDERAL</a>
			</div>
			<div class="img-wrapper col col-7">
				<img src="images/about/about-hero.jpg" alt="">
			</div>
		</div>
	</section>

	<section id="home-cert-rfq">
		<div class="section-wrapper">
			<div class="col col-6 img-wrapper" style="background-image: url(./images/flange-machining-2.jpg)">
			</div>

			<div class="col col-6">
				<div class="cr-wrapper dark-opacity" style="background-image: url(../images/certifications/certifications-hero.jpg)">
					<div class="textbox light">
						<h3 class="mini-header psuedo-line">CERTIFICATIONS</h3>
						<p>Federal Flange is ISO 9001:2015, API6A certified. Click this link for copies of our certificates.</p>
						<a class="button clear" href="/certifications">VIEW CERTIFICATIONS</a>
					</div>
				</div>
	
				<div class="cr-wrapper dark-opacity" style="background-image: url(../images/rfq-hero.jpg)">
					<div class="textbox light">
						<h3 class="mini-header psuedo-line">REQUEST FOR QUOTE</h3>
						<p>Click on the link below to request a quotation from our sales team on any of your product requirements.</p>
						<a class="button clear" href="/request-for-quote">REQUEST QUOTE</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="home-trusted">
		<div class="section-wrapper">
			<div class="textbox center">
				<h4 class="mini-header">TRUSTED BY INDUSTRY LEADERS</h4>
			</div>
			
			<div class="trustedby-logos-container">
				<img src="./images/logos/exxonmobil-logo.svg" alt="">
				<img src="./images/logos/conocophillips-logo.svg" alt="">
				<img src="./images/logos/bp-logo.svg" alt="">
				<img src="./images/logos/chevron-logo.svg" alt="">	
			</div>
		</div>
	</section>

	<section id="home-contact" class="dark-opacity" style="background-image: url(../images/cta-form.jpg)">
		<div class="section-wrapper">
			<div class="textbox right light col col-6">
				<h2>Have a Question or Interested in Our Work?</h2>
				<div class="inline">
					<a href="/contact">CONTACT US</a>
					<a href="/request-for-quote">NEED A QUOTE?</a>
				</div>
			</div>

			<div class="input-wrapper col col-6">
				<form class="sendEmail">
					<span class="field-wrapper">
						<input placeholder="Name" type="text" id="name" >
					</span>

					<span class="field-wrapper">
						<input placeholder="Email" type="email" id="email" >
					</span>
	
					<span class="field-wrapper">
						<input placeholder="Message" type="text" id="message" >
					</span>
					<button id="submit-button" type="submit" class="button blue">SEND</button>
					<span id="form-message">Thank you! Your message has been sent.</span>

				</form>
			</div>
		</div>
	</section>

	<% include ./partials/footer.ejs %>
</body>

<script type="text/javascript">
	$(function() {
		$('.sendEmail').submit(function(e) {
			e.preventDefault();
				let name = $('#name').val();
				let email = $('#email').val();
				let message = $('#message').val();

			let submitButton = document.getElementById('submit-button');
			
			let res = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
		
			if (res){
				submitButton.setAttribute("disabled", "");
				submitButton.innerText = 'Sending...'

				let emailContactForm = $.ajax({
					type: 'POST',
					url: '/home-contact-form-submit',
					crossDomain: true,
					dataType: 'json',
					data: {
						name : name,
						email : email,
						message : message,
					},
				});

				emailContactForm.done(function(response) {
						// console.log('response: ',response);
						if (response === 'error') {
              $("#form-message").text('Submission failed, please contact 713.675.6438 for any assistant').addClass("error");

						} else { // --- Success
							console.log('email sent!');

							setTimeout(() => {
								$("#form-message").addClass("success").text('Thank you! Your message has been sent.');
								submitButton.removeAttribute("disabled");
								setTimeout(() => {
										location.reload(true);
								}, 10000);
							}, 2000);

						}
					});

			} else {
				$("#form-message").text('Invalid email.').addClass('error');
			}
		})
	});
</script>

