<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Standards | Federal Flange</title>
	<% include ./partials/head.ejs %>
</head>

<% include ./partials/header.ejs %>

<body id="standards">
  <section class="hero hero-3" style="background-image: url(../images/standards/standards-hero.jpg)">
    <div class="section-wrapper">
      <div class="textbox light center">
        <h1>Standards</h1>
      </div>
    </div>
  </section>

  <section>
    <div class="section-wrapper">
      <div class="downloads-container">
        <article class="card download-card">
          <a class="pdf" href="../images/standards/ANSI B16.5.pdf" target="_blank">ANSI B16.5</a>
        </article>

        <article class="card download-card">
          <a class="pdf" href="../images/standards/B16.47 A&B.pdf" target="_blank">B16.47 A&B</a>
      </div>
    </div>
  </section>

</body>

<% include ./partials/footer.ejs %>