<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>ANSI Flanges | Federal Flange</title>
	<% include ../partials/head.ejs %>
</head>

<% include ../partials/header-alt.ejs %>

<body class="products">
  
  <section class="hero hero-3" style="background-image: url(../images/products/ansi-flanges/ansi-flanges-hero.jpg)">
    <div class="section-wrapper">
      <div class="textbox center light">
        <h1>ANSI Flanges</h1>
      </div>
    </div>
  </section>

  <section class="w-sidebar">
    <div class="section-wrapper">
      <% include ../partials/sidebar-products.ejs %>

      <main>
        <div class="textbox">
          <h3>A Leading Manufacturer of ANSI Flanges Since 1975</h3>
          
          <p>As a widely approved domestic manufacture, Federal Flange manufactures ANSI Flanges and Flange components ranging in sizes ½” OD up to 90” OD. We produce ANSI B16.5, B16.47 Series A & B, and B16.36 Orifice sets. Federal keeps a large inventory of Carbon Steel forgings in A105, A350-LF2 & A694 F36-F70. Also available with competitive lead times are flange products in Stainless Steel, Chrome, and Nickel Alloy.</p>
        </div>

        <div class="downloads-container">
          <div class="downloads-wrapper">
            <h4>ANSI - B16.5</h4>
            <article class="card download-card">
              <a class="pdf" href="./../images/standards/ANSI B16.5.pdf" target="_blank">ANSI - B16.5</a>
            </article>
          </div>
          <div class="downloads-wrapper">
            <h4>ANSI - B16.47</h4>
            <article class="card download-card">
              <a class="pdf" href="./../images/standards/B16.47 A&B.pdf" target="_blank">ANSI - B16.47</a>
            </article>
          </div>
        </div>
        
        <div class="gallery">
          <span class="img-wrapper">
            <img src="../images/products/ansi-flanges/ansi-flanges-hero.jpg">
          </span>
        </div>
      </main>

    </div>
  </section>

  <% include ../partials/product-form.ejs %>
</body>

<% include ../partials/footer.ejs %>