<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Custom-Engineered Products | Federal Flange</title>
	<% include ../partials/head.ejs %>
</head>

<% include ../partials/header-alt.ejs %>

<body class="products">
  
  <section class="hero hero-3" style="background-image: url(../images/products/custom-engineered-products/custom-engineered-products-hero.jpg)">
    <div class="section-wrapper">
      <div class="textbox center light">
        <h1>Custom-Engineered Products</h1>
      </div>
    </div>
  </section>

  <section class="w-sidebar">
    <div class="section-wrapper">
      <% include ../partials/sidebar-products.ejs %>

      <main>
        <div class="textbox">
          <h3>For Turn-key Engineered Products Federal Flange Can Help</h3>
          
          <p>Our onsite engineering team with combined experience of over 30 years in metallurgy, design, and analysis can design and manufacture a wide assortment of custom engineered products for the Oil & Gas and Power generation industries. Federal Flange produces many custom engineered Subsea structure and midstream pipeline fittings, as well as ASME Section VII Div.2 design components.</p>
        </div>
        
        <div class="gallery">
          <span class="img-wrapper">
            <img src="../images/products/custom-engineered-products/Engineered-Products---Flanged-Elbow.jpg">
          </span>

          <span class="img-wrapper">
            <img src="../images/products/custom-engineered-products/Engineered-Products---H4-Mandrel.jpg">
          </span>
          
          <span class="img-wrapper">
            <img src="../images/products/custom-engineered-products/Engineered-Products---Pull-Head.jpg">
          </span>

          <span class="img-wrapper">
            <img src="../images/products/custom-engineered-products/Engineered-Products-Review.jpg">
          </span>
          
          <span class="img-wrapper">
            <img src="../images/products/custom-engineered-products/custom-engineered-products-hero.jpg">
          </span>
        </div>
      </main>

    </div>
  </section>

  <% include ../partials/product-form.ejs %>
</body>

<% include ../partials/footer.ejs %>