<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Long Weldneck Flanges & Vessel Components | Federal Flange</title>
	<% include ../partials/head.ejs %>
</head>

<% include ../partials/header-alt.ejs %>

<body class="products">
  
  <section class="hero hero-3" style="background-image: url(../images/products/long-weldneck-flanges-vessel-components/long-weldneck-flanges-vessel-components-hero.jpg)">
    <div class="section-wrapper">
      <div class="textbox center light">
        <h1>Long Weldneck Flanges & Vessel Components</h1>
      </div>
    </div>
  </section>

  <section class="w-sidebar">
    <div class="section-wrapper">
      <% include ../partials/sidebar-products.ejs %>

      <main>
        <div class="textbox">
          <h3>Federal Flange Now Offers Domestically Manufactured LWN Flanges & Vessel Components</h3>
          
          <p>Federal Flange now manufactures and stocks Long Weldneck Flanges in all sizes and pressure classes covered under ASME B16.5. We also manufacture a wide variety of Vessel components such as Heavy Barrel connections, Variable Body connections, Full Body connections and Studding outlets.</p>
        </div>

        <div class="gallery">

          <span class="img-wrapper">
            <img src="../images/products/long-weldneck-flanges-vessel-components/LWN-FLANGE-NOZZLE---PRODUCT-PHOTO.jpg">
          </span>
          
          <span class="img-wrapper">
            <img src="../images/products/long-weldneck-flanges-vessel-components/LWN FLANGE - PRODUCT PHOTO 3.jpg">
          </span>
        </div>
      </main>

    </div>
  </section>

  <% include ../partials/product-form.ejs %>
</body>

<% include ../partials/footer.ejs %>