<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Products | Federal Flange</title>
	<% include ../partials/head.ejs %>
</head>

<% include ../partials/header.ejs %>

<body id="products">

  <section id="product-options">
    <div class="section-wrapper">

      <div class="col col-3 product-category" style="background-image: url(../images/products/ansi-flanges/ansi-flanges-hero.jpg)">
        <a href="/products/ansi-flanges">
          <div class="textbox light">
            <h2>ANSI Flanges</h2>
            <p>A Leading Manufacturer of ANSI Flanges Since 1975</p>
            <span class="button white">View Products</span>
          </div>
        </a>
      </div>

      <div class="col col-6 product-category" id="products-hero" style="background-image: url(../images/products/products-hero.jpg)">
        <div class="textbox light center">
          <h1>Products</h1>
        </div>
      </div>

      <div class="col col-3 product-category" style="background-image: url(../images/products/api-flanges/api-flanges-hero.jpg)">
        <a href="/products/api-flanges">
          <div class="textbox light">
            <h2>API Flanges</h2>
            <p>Federal Flange Keeps a Full Line of API 6A Flanges in Stock</p>
            <span class="button white">View Products</span>
          </div>
        </a>
      </div>

      <div class="col col-3 product-category" style="background-image: url(../images/products/swivels-misalignments/swivels-misalignments-hero.jpg)">
        <a href="/products/swivels-misalignments">
          <div class="textbox light">
            <h2>Swivels & Misalignments</h2>
            <p>Federal Flange Takes the Concern Out of Misaligned Pipeline</p>
            <span class="button white">View Products</span>
          </div>
        </a>
      </div>

      <div class="col col-3 product-category" style="background-image: url(../images/products/long-weldneck-flanges-vessel-components/long-weldneck-flanges-vessel-components-hero.jpg)">
        <a href="/products/long-weldneck-flanges-vessel-components">
          <div class="textbox light">
            <h2>Long Weldneck Flanges & Vessel Components</h2>
            <p>Federal Flange Now Offers Domestically Manufactured LWN Flanges & Vessel Components</p>
            <span class="button white">View Products</span>
          </div>
        </a>
      </div>

      <div class="col col-3 product-category" style="background-image: url(../images/products/specialty-flanges-fittings/specialty-flanges-fittings-hero.jpg)">
        <a href="/products/specialty-flanges-fittings">
          <div class="textbox light">
            <h2>Specialty Flanges & Fittings</h2>
            <p>The Industry Leader in Quick Turn Specialty Flanges & Fittings</p>
            <span class="button white">View Products</span>
          </div>
        </a>
      </div>

      <div class="col col-3 product-category" style="background-image: url(../images/products/custom-engineered-products/custom-engineered-products-hero.jpg)">
        <a href="/products/custom-engineered-products">
          <div class="textbox light">
            <h2>Custom-Engineered Products</h2>
            <p>For Turn-key Engineered Products Federal Flange Can Help</p>
            <span class="button white">View Products</span>
          </div>
        </a>
      </div>
    </div>
  </section>

</body>

<% include ../partials/footer.ejs %>