<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Swivels & Misalignments | Federal Flange</title>
	<% include ../partials/head.ejs %>
</head>

<% include ../partials/header-alt.ejs %>

<body class="products">
  
  <section class="hero hero-3" style="background-image: url(../images/products/swivels-misalignments/swivels-misalignments-hero.jpg)">
    <div class="section-wrapper">
      <div class="textbox center light">
        <h1>Swivels & Misalignments</h1>
      </div>
    </div>
  </section>

  <section class="w-sidebar">
    <div class="section-wrapper">
      <% include ../partials/sidebar-products.ejs %>

      <main>
        <div class="textbox">
          <h3>Federal Flange Takes the Concern Out of Misaligned Pipeline</h3>
          
          <p>Federal Misalignment flanges are the right choice for any pipeline connections with up to 10° of misalignment. Our Misalignments are designed per ASME requirements, can be provided in all ANSI connection configurations and in any pressure class.</p>
          
          <p>Our Swivel Ring Flanges are designed per ASME Section VIII and meet the applicable dimensions and gasket type of any Flange specification such as ANSI B16.5, B16.47, API 6A or MSS SP-44. Nonstandard swivel flanges can also be designed for custom applications.</p>
        </div>
        
        <div class="gallery">
          <span class="img-wrapper">
            <img src="../images/products/swivels-misalignments/swivels-misalignments-hero.jpg">
          </span>
          
          <span class="img-wrapper">
            <img src="../images/products/swivels-misalignments/Swivel-Flange---Product-Photo.jpg">
          </span>
        </div>
      </main>

    </div>
  </section>

  <% include ../partials/product-form.ejs %>
</body>

<% include ../partials/footer.ejs %>